:root {
  --FrenchGray: #CACFD6;
  --Azure: #D6E5E3;
  --TiffanyBlue: #9FD8CB;
  --HookersGreen: #517664;
  --DrabDarkBrown: #2D3319;
}
html
{
  font-size: 15px;
}
body
{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;

}


.page
{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  opacity: 90%;
}

#infocontainer
{
  position: absolute;
  top: 10%;
  background-color: var(--TiffanyBlue);
  width: 17rem;
  height: 7rem;
}
#title
{
  font-size: 3rem;
  color: var(--DrabDarkBrown);
  position: inherit;
  right: 30px;
  top: -20px;
}
#titleTextBox
{
  font-size: 3rem;
  color: var(--DrabDarkBrown);
  margin: 5vh;
}
#desciptionTextBox
{
  font-size: 1rem;
  color: var(--DrabDarkBrown);
  margin: 5vh;
}

#desciption
{
  font-size: 1.5rem;
  color: var(--DrabDarkBrown);
  position: inherit;
  right: 30px;
  top: 40px;
}


.linkContainer
{
  background-color: var(--TiffanyBlue);
  height: 2rem;
  padding-top: .6rem;
  display: flex;
  justify-content: center;
}

.link
{
  color: var(--DrabDarkBrown);
  text-decoration: none;
  margin-left: 4vw;
  margin-right: 4vw;
  font-size: 1rem;
}
.link:hover
{
  opacity: 50%;
}

#logo
{
  position: absolute;
  width: 40vh;
  right: 30px;
  bottom: 30px;
}

.textbox
{
  text-align: center;
  background-color: var(--Azure);
  position: relative;
  margin: 5%;
  padding-bottom: 1%;
}

#subpagelogo
{
  width: 25%;
  display: block;
  margin: 0 auto;
}
#calculatorform
{
  background-color: var(--TiffanyBlue);
  width: 50%;
  margin-left: 25%;
}
#dates
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


#flighttype
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#destinationbox
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#prices
{

  background-color: var(--DrabDarkBrown);
  color: var(--Azure);
  margin: 5%;
  padding-top: .1rem;
  padding-bottom: .1rem;
}
#flightPrice
{
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre;
  margin-bottom: -15px;
}
.hidden
{
  visibility: hidden;
}